# Compiled files
# Compiled executables
lesson[0-9]*
!lesson[0-9]*.cpp
*.o
*.out
*.exe
a.out

# Build directories
build/
bin/
obj/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Debugger
*.dSYM/
